.Container
{
    margin-left: 50px;
    min-height: 150vh;
    position: relative;
    padding-bottom: 600px;
}

.MainContent
{
    padding: 40px 20px; 
    overflow-y: auto;   
    max-height: 200vh;
    margin-right: 10px;
}

.Container header
{
    min-height: 70px;
}

@media screen and (min-width:768px)
{
    .Container
    {
        margin-left: 60px;      
        padding-bottom: 350px;
    }

}