.Container
{
    margin-left: 50px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 150px;
}

.Container header
{
    min-height: 70px;
}

@media screen and (min-width:768px)
{
    .Container
    {
        margin-left: 60px;
    }

}