@font-face
{
  font-family: 'HVN-M';
  src: url("./assets/fonts/helveticaneue/HelveticaNeue-Medium.ttf");
}

@font-face
{
  font-family: 'HVN';
  src: url("./assets/fonts/helveticaneue/HelveticaNeue.ttf");
}


@font-face
{
  font-family: 'HVN-B';
  src: url("./assets/fonts/helveticaneue/Helvetica-Neu-Bold.ttf");
}


:root
{
    --blue:#196bd8;
    --light-blue:#529ded;
    --lighter-blue:#F4F7F6;
    --gray:#eee;
    --dark-gray:#D0D0D0;
    --light-gray:#C1C1C1;
    --red:#d80b0b;
    --green:#1E8406;

    
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}


