a
{
    font-family: "HVN-B", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
    letter-spacing: 1px;  

}
.SideBar
{
    width:250px;
    overflow-x: hidden;
    overflow-y: auto;
    height:100vh;
    background-color: var(--blue);
    position: fixed;
    color:#fff; 
    z-index: 30;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);
}



.SideBar::-webkit-scrollbar-thumb 
{
   
    border: 1px solid #fff;
    border-radius: 0px;
    background-color:#fff;
    background-clip: padding-box;
    box-shadow: none;
}


.Open
{ 
    transform: translateX(0%);

}

.Close
{
    cursor: pointer;
    margin-top: 30px ;


}

.Close div
{

    background-color: #fff;
    width: 28px;
    height: 4px;
    border-radius: 5px;
    position: fixed;
    left:10px

}

.Close div:nth-child(1)
{
    transform: rotate(45deg);

}

.Close div:nth-child(2)
{
    transform: rotate(-45deg);
}


.Navlist
{   
    margin-top: 120px;
}



.Navlist li a
{   
    box-shadow: 2px 1px 2px #0000001F;
    letter-spacing: 1px;
}

.Settings
{
    margin: 60px 0 10px;
    cursor: pointer;
}




.Settings img
{
  width: 24px;
}


@media screen and (min-width: 1200px)
{

    .Settings
    {
        margin-top: 135px ;
    }
}
